html, body
    // For Firefox
    scrollbar-color: rgba(255, 255, 255, .12) rgba(0, 0, 0, 0)
    scrollbar-width: thin
    
    // For Chrome
    &::-webkit-scrollbar
        width: 8px
        height: 8px
        background: transparent
        padding-right: 10px
    &::-webkit-scrollbar-thumb
        background: rgba(255, 255, 255, .12)
        border-radius: 16px
        &:hover
            background: rgba(255, 255, 255, .2)
    &::-webkit-scrollbar-button
        background: red
    &::-webkit-scrollbar-track
        background: transparent
    &::-webkit-scrollbar-track-piece
        background: rgba(0, 0, 0, 0)