$palette-grey: (
    50: #EEEEEE,
    100: #C9CAC9,
    200: #AFB0AF,
    300: #8A8C8B,
    400: #737575,
    500: #505352,
    600: #494C4B,
    700: #393B3A,
    800: #2C2E2D,
    900: #222322
);

$palette-green: (
    50: #E6F6F2,
    100: #B2E4D6,
    200: #8CD7C2,
    300: #58C5A6,
    400: #37B995,
    500: #05A87A,
    600: #05996F,
    700: #04785A,
    800: #065F48,
    900: #064E3D
);

$color: (
    primary: map-get( $palette-green, 500 ),
    primary-hover: map-get( $palette-green, 700 ),
    grey-primary: map-get( $palette-grey, 50 ),
    grey-secondary: map-get( $palette-grey, 200 ),
    grey-tertiary: map-get( $palette-grey, 500 ),
    background: map-get( $palette-grey, 900 ),
    background-grey: map-get( $palette-grey, 800 ),
    background-grey-hover: map-get( $palette-grey, 700 ),
    border: map-get( $palette-grey, 600 ),
    border-dark: map-get( $palette-grey, 700 )
);

$size: (
    50: 4px,
    100: 8px,
    150: 12px,
    200: 16px,
    250: 20px,
    300: 24px,
    400: 32px,
    500: 40px,
    600: 48px,
    700: 56px,
    800: 64px,
    900: 72px,
    1000: 80px
);

$radius: (
    50: 12px,
    100: 16px,
    200: 20px,
    300: 32px,
    400: 40px,
    1000: 999px
);

$font-size: (
    Headline-1: 64px,
    Headline-2: 40px,
    Headline-3: 24px,
    Headline-4: 20px,
    Headline-5: 18px,
    Body-1: 16px,
    Body-2: 14px
);
