
$color: (
    background: #111111,
    grey-primary: #262626,
    grey-secondary: #6D6D6D,
    grey-tertiary: #B0B0B0,
    grey-300: #B0B0B0,
    grey-200: #D1D1D1,
    grey-100: #E7E7E7,
    grey-50: #F9F9F9,
    grey-0: #FFFFFF,
    red: #CD4D42
);

$size: (
    100: 14px,
    200: 16px,
    300: 18px,
    400: 20px,
    500: 24px,
    600: 32px,
    700: 40px,
    800: 48px,
    900: 56px
);

$spacing: (
    100: 4px,
    150: 8px,
    200: 12px,
    250: 16px,
    300: 24px,
    400: 32px,
    500: 40px,
    600: 48px,
    700: 56px,
    800: 64px,
    900: 72px,
    1000: 80px
);

$radius: (
    100: 8px,
    200: 20px,
    300: 40px,
    400: 80px
);
